.seccion-obras{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        @include size(250px, 250px);
        margin: 0px auto;
        margin-bottom: 15px;
    }
    
}

.obra{
    display: grid;
    grid-template-areas:
    "obra-h3"
    "obra-img"
    "obra-p";
    justify-content: center;

    p{
        grid-area: obra-p;
        margin-bottom: 2.5em
    }

    h3{
        grid-area: obra-h3;
    }

    img{
        grid-area: obra-img;
    }
}
